__pycache__/
*/__pycache__/
**/__pycache__/
data_r2_5_9_4_fcg
data_ghidra_fcg
data_ghidra_fcg_pretrain
embeddings
embeddings.zip
data_5_9_4_fcg.zip
5way_5shot_LabelPropagation_20250306_202711
5way_10shot_LabelPropagation_20250306_204546